.img-container{
    display: inline-block;
    padding-bottom: 0!important;
    height: auto!important;
}
.image-container .zoom-in img{
    transform: scale(1);
    transition: 3s ease-in-out;
}
.image-container .zoom-in:hover img{
    transform: scale(2);
}
.product-card-cover-wrapper .card .cover-pic img {
    position: relative;
    overflow: hidden;
    display: block;
    width: 95%;
    max-width: 95%;
    height: 480px;
    overflow:clip;
    transition: transform 4s ease-out;
    background-size: cover;
}

.product-card-cover-wrapper .card .cover-pic img:hover {
    transform: scale(1.06);
    width: 95%;
}
.product-card-cover-wrapper .card-body {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.product-card-cover-wrapper .card:hover {
    background-position: center;
    background-size: cover;
    transition: transform .8s cubic-bezier(.215, .61, .355, 1), opacity .8s cubic-bezier(.215, .61, .355, 1);
}
.product-card-cover-wrapper .card-body h5 {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size:12px ;
    font-weight: 500;
}
.product-card-cover-wrapper .card-body h3 {
    margin-top: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: 500;
}

.product-card-cover-wrapper .card-body .btn {
    margin-top: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    font-size: x-small;
    padding: 12px;
}
/********************8generic classes*******************/
.fs-16{
    font-size: 16px;
}
.img-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Set the aspect ratio of the image */
    overflow: hidden;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Add transition effect */
  }
  .image-container:hover img {
    transform: scale(1.2); /* Set the scale factor */
  }