.warranty-coverage-wrapper .container {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url(../../imgs/lifetimewarranty.jpeg);
    background-attachment: fixed;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warranty-coverage-wrapper .container .div {
    background-color: rgb(27, 27, 27);
    max-width: 520px;
    padding: 28px 15px;
}

.warranty-coverage-wrapper .container .div h3 {
    text-align: center;
    font-size: 12px;
    letter-spacing: .4em;
    text-transform: uppercase;
    line-height: 1.65;
}

.warranty-coverage-wrapper .container .div p {
    text-align: center;
    display: flex;
    font-size: 12px;
    letter-spacing: .1em;
    justify-content: center;
    line-height: 1.65;

}
.warranty-coverage-wrapper .read-more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-decor{
    text-decoration: none;
    
    border-bottom: 1px solid #ffff;
}