.CheckoutCartCard-wrapper .card .btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.CheckoutCartCard-wrapper .card .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}