.just-dropped-wrapper {
    padding: 80px 0;
}

.just-dropped-wrapper .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.just-dropped-wrapper .row {
    display: contents;
    align-items: center;
    justify-content: center;
}

.just-dropped-wrapper .container .title {
    font-size: 12px;
    letter-spacing: .2em;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-bottom: 70px;
    margin-top: -0.325em;

}

.just-dropped-wrapper .view-product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.just-dropped-wrapper .view-product-wrapper .model-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.just-dropped-wrapper .view-product-wrapper .model-img {
    position: relative;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot1 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 145px;
    top: 160px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot1:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot2 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 280px;
    top: 450px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot2:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot3 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 170px;
    top: 350px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot3:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot4 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 180px;
    top: 110px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot4:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot6 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 215px;
    top: 310px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot6:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img img {
    width: 340px;
}

.just-dropped-wrapper .just-dropped-wrapper .product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.just-dropped-wrapper .just-dropped-wrapper .product .card img.card-img-top {
    width: 250px;

}

.just-dropped-wrapper .just-dropped-wrapper .product .card-body .card-title {
    letter-spacing: .2em;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.just-dropped-wrapper .just-dropped-wrapper .product .card-body .card-text {
    letter-spacing: .2em;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #3b3b3b;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ****************************media-queries************************************/ 

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .just-dropped-wrapper .row {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .just-dropped-wrapper .view-product-wrapper .model-img img {
        width: 80% !important;
    }
    .just-dropped-wrapper .view-product-wrapper .model-img {
        width: 60% !important;
        margin: 0 70px;
    }
    
.just-dropped-wrapper .view-product-wrapper .model-img {
    position: relative !important;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot1 {
    position: absolute ;
    content: "" !important;
    width: 40px !important;
    padding: 11px !important;
    cursor: pointer !important;
    color: #ffffff !important;
    height: 40px !important;
    left: 140px !important;
    top: 190px !important;
    border-radius: 100% !important;
    background: rgba(255, 255, 255, .4) !important;
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite !important;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot1:hover{
    width: 45px !important;
    height: 45px !important;
    padding: 14px !important;
    transition: .5s !important;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot2 {
    position: absolute !important;
    content: "" !important;
    width: 40px !important;
    padding: 11px !important;
    cursor: pointer !important;
    color: #ffffff !important;
    height: 40px !important;
    left: 280px !important;
    top: 450px !important;
    border-radius: 100% !important;
    background: rgba(255, 255, 255, .4) !important;
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite !important;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot2:hover{
    width: 45px !important;
    height: 45px !important;
    padding: 14px !important;
    transition: .5s !important;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot3 {
    position: absolute !important;
    content: "" !important;
    width: 40px !important;
    padding: 11px !important;
    cursor: pointer !important;
    color: #ffffff !important;
    height: 40px !important;
    left: 190px !important;
    top: 360px !important;
    border-radius: 100% !important;
    background: rgba(255, 255, 255, .4) !important;
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite !important;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot3:hover{
    width: 45px !important;
    height: 45px !important;
    padding: 14px !important;
    transition: .5s !important;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot4 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 180px !important;
    top: 120px !important;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot4:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot6 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 215px;
    top: 340px !important;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot6:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}

   }
   
   /* // Medium devices (tablets, 768px and up) */
   @media (max-width: 767.98px) { 
     .just-dropped-wrapper .row {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .just-dropped-wrapper .view-product-wrapper .model-img img {
        width: 100% !important;
    }
    .just-dropped-wrapper .view-product-wrapper .model-img {
        width: 70% !important;
        margin: 0 70px;
    }
    
.just-dropped-wrapper .view-product-wrapper .model-img {
    position: relative;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot1 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #ffffff;
    height: 40px;
    left: 162px;
    top: 170px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot1:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot2 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #ffffff;
    height: 40px;
    left: 260px !important;
    top: 450px !important;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot2:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot3 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 165px;
    top: 390px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot3:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot4 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 175px;
    top: 110px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot4:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot5 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #ffffff;
    height: 40px;
    left: 215px;
    top: 180px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot5:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}

.just-dropped-wrapper .view-product-wrapper .model-img .dot6 {
    position: absolute;
    content: "";
    width: 40px;
    padding: 11px;
    cursor: pointer;
    color: #fff;
    height: 40px;
    left: 215px;
    top: 310px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .4);
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}
.just-dropped-wrapper .view-product-wrapper .model-img .dot6:hover{
    width: 45px;
    height: 45px;
    padding: 14px;
    transition: .5s;
}

   
   }
   
   /* // Large devices (desktops, 992px and up) */
   @media (max-width: 991.98px) { }
   
   /* // X-Large devices (large desktops, 1200px and up) */
   @media (max-width: 1199.98px) { }
   
   /* // XX-Large devices (larger desktops, 1400px and up) */
   @media (max-width: 1399.98px) { }