.warranty-coverage-page-wrapper .container .row .col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.warranty-coverage-page-wrapper .container .row .col-md-12 h5{
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}