*{
    /* font-family: 'CustomFont';
    src:url(../../frontend/src/font/body-font.otf); */
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    box-sizing: border-box;
    
}