body {
  margin: 0;
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
